<style>
	.ml-img-thumbnail {
		height: 260px;
		overflow-y: hidden
	}
</style>

<!--电影列表页面的模版-->
<div class="container">
	<div ng-if="loading">
		正在加载中
	</div>
	<div ng-if="!loading">
		<div class="row">
			<div class="col-md-10 p-3">
				<ul class="nav nav-tabs">
					<li ng-class="{active:pager.category=='in_theaters'}">
						<a href="#!/list/in_theaters/1">正在热映</a>
					</li>
					<li ng-class="{active:pager.category=='coming_soon'}">
						<a href="#!/list/comming_soon/1">即将上映</a>
					</li>
					<li ng-class="{active:pager.category=='top250'}">
						<a href="#!/list/top250/1">前250名</a>
					</li>
				</ul>
			</div>
			<div class="col-md-2 p-3">
				<span class="float-right">电影列表</span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 p3">
				<ol class="breadcrumb">
					<li><a href="#">电影列表</a></li>
					<li><a href="#">
						{{pager.category == "top250"?"前250名":pager.category=="coming_soon"?"即将上映":"正在热映"}}
					</a></li>
					<li class="active"><a href="#">第{{pager.current}}页,共{{pager.total}}页</a></li>
				</ol>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-md-4 p-1" ng-repeat="subject in data.subjects">
				<div class="img-thumbnail">
					<img class="ml-img-thumbnail" ng-src="{{subject.images.large}}" alt="{{subject.title}}"/>
					<div class="caption text-center">
						<a ng-href="#!/detail/{{subject.id}}">{{subject.title}}</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 p-3">
				<ul class="pagination mx-auto">
					<li>
						<a ng-href="#!/list/{{pager.category}}/{{pager.prev}}"><span>&laquo;上一页</span></a>
					</li>
					<li>
						<a ng-href="#!/list/{{pager.category}}/{{pager.next}}"><span>下一页&raquo;</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
